<nav class="navbar navbar-dark bg-primary">
    <div class="row">
        <div class="container">
            <div class="col-md-2">
                <a class="navbar-brand" href="#">
                    <img src="./../assets/logo final-05.png" width="90" height="50" class="d-inline-block align-top" alt="">
                </a>
            </div>
            <div class="col-md-9">
                <h5 class="corTitulo">Certificado de Qualidade</h5>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>