<div class="container">
    <div class="row">
        <div class="col-11">
            <div class="jumbotron">
                <h1 class="display-4">Gerar Certificado</h1>
                <p class="lead">Geração de um novo PDF com captação de dados</p>
                <hr class="my-4">
                <form [formGroup]="formulario">
                    <div class="form-row">
                        <div class="col-md-9 mb-3">
                            <label>Escolha um arquivo PDF para a recuperação dos dados</label>
                            <input #pdf type="file" (change)="preencheValoresPdf(pdf)" formControlName="pdf">
                        </div>
                        <div class="col-md-2 mb-3">
                            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status" *ngIf="loading">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <label>Emissao</label>
                            <input type="text" class="form-control" required formControlName="emissao">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Certificado</label>
                            <input type="text" class="form-control" required readonly formControlName="certificado">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Nota Fiscal *</label>
                            <input type="text" class="form-control" formControlName="notaFiscal">
                        </div>
                        <div class="col-md-9 mb-3">
                            <label>Clientes *</label>
                            <select multiple class="form-control" formControlName="Clientes">
                                <option *ngFor="let cliente of _clientes" [ngValue]="cliente"> {{cliente.nome}} - {{cliente.cnpj}}</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Produto</label>
                            <input type="text" class="form-control" formControlName="produto">
                        </div>
                        <div class="col-md-5 mb-3">
                            <label>Desenho</label>
                            <input type="text" class="form-control" formControlName="desenho">
                        </div>
                        <div class="col-md-9 mb-3">
                            <label>O.P *</label>
                            <input type="text" class="form-control" formControlName="op">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Liga</label>
                            <input type="text" class="form-control" formControlName="liga">
                        </div>
                        <div class="col-md-5 mb-3">
                            <label>Dureza/Tração</label>
                            <input type="text" class="form-control" formControlName="durezaTracao">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-9 mb-3">
                            <label>Análise Química</label>
                            <input type="text" class="form-control" formControlName="analiseQuimica">
                        </div>
                        <div class="col-md-9 mb-3">
                            <label>Observação</label>
                            <input type="text" class="form-control" formControlName="obs">
                        </div>
                        <div class="col-md-9 mb-3">
                            <label>Corrida</label>
                            <input type="text" class="form-control" formControlName="corrida">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Liberado C.Q *</label>
                            <input type="text" class="form-control" formControlName="LiberadoCQ">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Conferido C.Q *</label>
                            <input type="text" class="form-control" formControlName="ConferidoCQ">
                        </div>
                    </div>
                    <hr>
                </form>
                <div class="row">
                    <div class="col-md-7 offset-md-7">
                        <button class="btn btn-primary" (click)="teste(pdf)"> Gerar Certificado </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div id="tabela" class="modal-content">
            <table border="1" class="text-center" wi>
                <tr>
                    <td colspan="1" style="line-height: 1.1;padding: 15px 40px;">
                        <span class="font-weight-bold" style="font-size: 30px;">
                            <img src="./../../assets/logo-final-06.png" alt="" srcset="" width="93" style="margin-bottom: 6px;">
                        </span>
                        <span style="font-size: 10px; font-weight: 1px;">
                            <BR> 11.275.029/0001-00
                        </span>
                    </td>
                    <td colspan="4" class="font-weight-bold" style="font-size: 25px;padding: 1px 84px;">
                        CERTIFICADO GARANTIA DA QUALIDADE
                    </td>
                    <td colspan="1" class="font-weight-bold" style="padding: 15px 40px;">
                        Certificado Nº <span>{{formulario.value.certificado}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Emissao</td>
                    <td colspan="5" class="text-left" id="emissao" style="padding: 10px;">{{formulario.value.emissao}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Cliente</td>
                    <td colspan="5" class="text-left" id="cliente" *ngIf="formulario.value.Clientes !== null" style="padding: 10px;">
                        {{formulario.value.Clientes[0].nome}}
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">CNPJ</td>
                    <td colspan="5" class="text-left" id="cnpj" *ngIf="formulario.value.Clientes !== null" style="padding: 10px;">
                        {{formulario.value.Clientes[0].cnpj}}
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Produto</td>
                    <td colspan="5" class="text-left" id="cnpj" style="padding: 10px;">{{formulario.value.produto}}</td>
                </tr>
                <tr>
                    <td colspan="1" class="font-weight-bold" style="padding: 10px;">Nota Fiscal</td>
                    <td colspan="1" class="text-left" id="cnpj" style="padding: 10px;">{{formulario.value.notaFiscal}}</td>
                    <td colspan="1" class="font-weight-bold">Desenho</td>
                    <td colspan="1" class="text-left" id="cnpj" style="padding: 10px;"></td>
                    <td colspan="1" class="font-weight-bold">O.P</td>
                    <td colspan="1" class="text-left" id="cnpj" style="padding: 10px;">{{formulario.value.op}}</td>
                </tr>
                <tr>
                    <td colspan="1" class="font-weight-bold">Liga</td>
                    <td colspan="1" class="text-left" id="cnpj" style="padding: 10px;">{{formulario.value.liga}}</td>
                    <td colspan="1" class="font-weight-bold">Dureza/Tração</td>
                    <td colspan="3" class="text-left" id="cnpj" style="padding: 10px;">{{formulario.value.durezaTracao}}</td>
                </tr>
                <tr>
                    <td colspan="3" class="font-weight-bold" style="padding: 10px;">Denominação</td>
                    <td colspan="1" class="font-weight-bold">Medidas Encontradas</td>
                    <td colspan="2" class="font-weight-bold">Observações</td>
                </tr>
                <span id="testeaa"></span>
                <tr>
                    <td colspan="8" style="height: 26vh;"></td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Análise Química</td>
                    <td colspan="5" class="text-left" id="emissao" style="padding: 10px;">{{formulario.value.analiseQuimica}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Observação</td>
                    <td colspan="5" class="text-left" id="emissao" style="padding: 10px;">{{formulario.value.obs}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold" style="padding: 10px;">Corrida</td>
                    <td colspan="5" class="text-left" id="emissao" style="padding: 10px;">{{formulario.value.corrida}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold" style="padding: 10px;">Liberado C.Q</td>
                    <td colspan="2" class="text-left" id="emissao" style="padding: 10px;">{{formulario.value.LiberadoCQ}}</td>
                    <td class="font-weight-bold">Conferido C.Q</td>
                    <td colspan="2" class="text-left" id="emissao" style="padding: 10px;">{{formulario.value.ConferidoCQ}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>




<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="formulario">
                <h3>Selecione o arquivo PDF para conversao</h3>
                <input #pdf type="file" formControlName="pdf">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Emissao</label>
                    <input type="text" class="form-control" formControlName="emissao">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect2">Clientes</label>
                    <select multiple class="form-control" id="exampleFormControlSelect2" formControlName="Clientes">
                        <option *ngFor="let cliente of _clientes" [ngValue]="cliente"> {{cliente.nome}} - {{cliente.cnpj}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Nota Fiscal</label>
                    <input type="text" class="form-control" formControlName="notaFiscal">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">O.P</label>
                    <input type="text" class="form-control" formControlName="op">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Liberado C.Q</label>
                    <input type="text" class="form-control" formControlName="LiberadoCQ">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Conferido C.Q</label>
                    <input type="text" class="form-control" formControlName="ConferidoCQ">
                </div>
                <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl" (click)="teste(pdf)"> Gerar Preview </button>
            </form>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div id="tabela" class="modal-content">
            <table class="table table-bordered text-center">
                <tbody>
                    <tr>
                        <td class="font-weight-bold">CYPRIUM</td>
                        <td class="font-weight-bold">
                            CERTIFICADO GARANTIA DA QUALIDADE</td>
                        <td class="font-weight-bold">N Certificado</td>
                    </tr>
                    <tr>
                        <td>Emissao</td>
                        <td colspan="3" class="text-left" id="emissao">Thornton</td>
                    </tr>
                    <tr>
                        <td>Cliente</td>
                        <td colspan="3" class="text-left" id="cliente">Fulano de Tal</td>
                    </tr>
                    <tr>
                        <td>CNPJ</td>
                        <td colspan="3" class="text-left" id="cnpj">999999999/99999</td>
                    </tr>
                    <tr>
                        <td>Produto</td>
                        <td colspan="3" class="text-left" id="produto">aaaaaaaaa</td>
                    </tr>
                    <tr>
                        <td colspan="9">
                            <table>
                                <tr>
                                    <td>Nota Fiscal</td>
                                    <td>9999999999</td>
                                    <td>Desenho</td>
                                    <td id="desenho">9999999</td>
                                    <td>O.P</td>
                                    <td>9999999999</td>
                                </tr>
                                <tr>
                                    <td>Liga</td>
                                    <td id="liga">CCCCCCCCC</td>
                                    <td colspan="2">Dureza / Tracao</td>
                                    <td colspan="2" id="durezaTracao">000000000</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Denominacao</td>
                                    <td colspan="2">Medidas Encontradas</td>
                                    <td colspan="2">Observacao</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Espessura</td>
                                    <td id="espessuraMedidas" colspan="2">121516</td>
                                    <td id="espessuraObs" colspan="2">xxxxxxxxxxxx</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Largura</td>
                                    <td colspan="2" id="larguraMedidas">121516</td>
                                    <td colspan="2" id="larguraObs">xxxxxxxxxxxx</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Dureza</td>
                                    <td colspan="2" id="durezaMedidas">121516</td>
                                    <td colspan="2" id="durezaObs">xxxxxxxxxxxx</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Teste de Dobra</td>
                                    <td colspan="2" id="testeDeDobraMedidas">121516</td>
                                    <td colspan="2" id="testeDeDobraObs">xxxxxxxxxxxx</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Peso</td>
                                    <td colspan="2" id="pesoMedidas">121516</td>
                                    <td colspan="2" id="pesoObs">xxxxxxxxxxxx</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Ordem de Compra</td>
                                    <td colspan="2" id="ordemDeCompra">121516</td>
                                    <td colspan="2" id="ordemDeCompraObs">xxxxxxxxxxxx</td>
                                </tr>
                                <tr>
                                    <td colspan="1">Analise Quimica</td>
                                    <td colspan="5" class="text-left" id="analiseQuimica">CU=67,5% FE=0,002% ZN=RESTANTE.</td>
                                </tr>
                                <tr>
                                    <td colspan="1">Observacao</td>
                                    <td colspan="5" class="text-left" id="observacao">ESTE PROD ESTA EM PLENA CONFORMIDADE COM A DIRECTIVA ROHS 2011/65/UE</td>
                                </tr>
                                <tr>
                                    <td colspan="1">Corrida n</td>
                                    <td colspan="5" class="text-left" id="corrida">9999999999/99</td>
                                </tr>
                                <tr>
                                    <td colspan="1">Liberado C.Q</td>
                                    <td colspan="2" class="text-left" id="LiberadoCQ">TTTTTTTT</td>
                                    <td colspan="1">Conferido C.Q</td>
                                    <td colspan="2" class="text-left" id="ConferidoCQ">TTTTTTTTtttt</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->