<div class="container">
    <div class="row">
        <div class="col-11">
            <div class="jumbotron">
                <h1 class="display-4">Gerar Certificado</h1>
                <p class="lead">Geração de um novo PDF com captação de dados</p>
                <hr class="my-4">
                <form [formGroup]="formulario">
                    <div class="form-row">
                        <div class="col-md-9 mb-3">
                            <label>Escolha um arquivo PDF para a recuperação dos dados</label>
                            <input #pdf type="file" (change)="preencheValoresPdf(pdf)" formControlName="pdf">
                        </div>
                        <div class="col-md-2 mb-3">
                            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status" *ngIf="loading">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <label>Emissao</label>
                            <input type="text" class="form-control" required formControlName="emissao">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Certificado</label>
                            <input type="text" class="form-control" required readonly formControlName="certificado">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Nota Fiscal *</label>
                            <input type="text" class="form-control" formControlName="notaFiscal">
                        </div>
                        <div class="col-md-9 mb-3">
                            <div class="row">
                                <div class="col-md-8">
                                    <label>Clientes *</label>
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar Cliente"  aria-label="Search" formControlName="filtro">
                                </div>
                                <div class="col-md-12 clientes">
                                    <select multiple class="form-control" formControlName="Clientes">
                                        <option *ngFor="let cliente of _clientes | filter:formulario.value.filtro;" [ngValue]="cliente"> {{cliente.nome}} - {{cliente.cnpj}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Produto</label>
                            <input type="text" class="form-control" formControlName="produto">
                        </div>
                        <div class="col-md-5 mb-3">
                            <label>Desenho</label>
                            <input type="text" class="form-control" formControlName="desenho">
                        </div>
                        <div class="col-md-9 mb-3">
                            <label>O.P *</label>
                            <input type="text" class="form-control" formControlName="op" value="{{formulario.value.notaFiscal}}">
                        </div>
                        <div class="col-md-9 mb-3">
                            <label>Ordem de Compra *</label>
                            <input type="text" class="form-control" formControlName="ordemCompra">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Liga</label>
                            <input type="text" class="form-control" formControlName="liga">
                        </div>
                        <div class="col-md-5 mb-3">
                            <label>Dureza/Tração</label>
                            <input type="text" class="form-control" formControlName="durezaTracao">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-9 mb-3">
                            <label>Análise Química</label>
                            <input type="text" class="form-control" formControlName="analiseQuimica">
                        </div>
                        <div class="col-md-9 mb-3">
                            <label>Observação</label>
                            <input type="text" class="form-control" formControlName="obs">
                        </div>
                        <div class="col-md-9 mb-3">
                            <label>Corrida Nº</label>
                            <input type="text" class="form-control" formControlName="corrida">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Liberado C.Q *</label>
                            <input type="text" class="form-control" formControlName="LiberadoCQ">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Conferido C.Q *</label>
                            <input type="text" class="form-control" formControlName="ConferidoCQ">
                        </div>
                    </div>
                    <hr>
                </form>
                <div class="row">
                    <div class="col-md-7 offset-md-4">
                        <button class="btn btn-primary" (click)="gerarCertificado(pdf,false)"> Gerar Certificado </button>
                        <button class="btn btn-primary" style="margin-left: 10px;" (click)="gerarCertificado(pdf,true)"> Gerar Certificado Em inglês</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel">
    <!-- <div> -->
    <div class="modal-dialog modal-xl">
        <div id="tabela" class="modal-content">
            <table border="1" class="text-center" style="font-weight: 700; border: 7px solid black;">
                <tr>
                    <td colspan="1" style="line-height: 1.1;padding: 15px 40px; border-right-color:transparent; ">
                        <span class="font-weight-bold" style="font-size: 30px;">
                            <img src="./../../assets/logo-final-06.png" alt="" srcset="" width="113" style="margin-bottom: 6px;">
                        </span>
                        <span style="font-size: 10px; font-weight: 1px;">
                            <BR>CNPJ 11.275.029/0001-00
                        </span>
                    </td>
                    <td colspan="4" class="font-weight-bold" style="font-size: 25px;padding: 1px 84px; border-right: transparent;">
                        GARANTIA DE QUALIDADE
                    </td>
                    <td colspan="1" class="font-weight-bold" style="padding: 15px 40px; border-right: 7px solid black; border-left-color: transparent; font-size: 25px; ">
                        Certificado Nº <br><span>{{formulario.value.certificado}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Emissão</td>
                    <td colspan="5" class="text-left" id="emissao" style="padding: 10px;  border-right: 7px solid black;">{{formulario.value.emissao}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Cliente</td>
                    <td colspan="5" class="text-left" id="cliente" *ngIf="formulario.value.Clientes !== null" style="padding: 10px;  border-right: 7px solid black;">
                        {{formulario.value.Clientes[0].nome}}
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">CNPJ</td>
                    <td colspan="5" class="text-left" id="cnpj" *ngIf="formulario.value.Clientes !== null" style="padding: 10px;  border-right: 7px solid black;">
                        {{formulario.value.Clientes[0].cnpj}}
                    </td>
                </tr>
                <tr>
                    <td colspan="8" style="height: 5vh;"></td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Produto</td>
                    <td colspan="5" class="text-left" id="cnpj" style="padding: 10px;  border-right: 7px solid black;">{{formulario.value.produto}}</td>
                </tr>
                <tr>
                    <td colspan="1" class="font-weight-bold" style="padding: 10px;">Nota Fiscal</td>
                    <td colspan="1" class="text-left" id="cnpj" style="padding: 10px;">{{formulario.value.notaFiscal}}</td>
                    <td colspan="1" class="font-weight-bold">Desenho</td>
                    <td colspan="1" class="text-left" id="cnpj" style="padding: 10px;"></td>
                    <td colspan="1" class="font-weight-bold">O.P</td>
                    <td colspan="1" class="text-left" id="cnpj" style="padding: 10px;  border-right: 7px solid black;">{{formulario.value.op}}</td>
                </tr>
                <tr>
                    <td colspan="1" class="font-weight-bold">Liga</td>
                    <td colspan="1" class="text-left" id="cnpj" style="padding: 10px;">{{formulario.value.liga}}</td>
                    <td colspan="1" class="font-weight-bold">Dureza/Tração</td>
                    <td colspan="3" class="text-left" id="cnpj" style="padding: 10px;  border-right: 7px solid black;">{{formulario.value.durezaTracao}}</td>
                </tr>
                <tr>
                    <td colspan="8" style="height: 5vh;"></td>
                </tr>
                <tr>
                    <td colspan="3" class="font-weight-bold" style="padding: 10px;">Denominação</td>
                    <td colspan="1" class="font-weight-bold">Medidas Encontradas</td>
                    <td colspan="2" class="font-weight-bold" style=" border-right: 7px solid black;">Observações</td>
                </tr>
                <span id="node"></span>
                <tr>
                    <td colspan="3" style="padding: 10px;">
                        ORDEM DE COMPRA
                    </td>
                    <td colspan="1" class="font-weight-bold">
                        {{formulario.value.ordemCompra}}
                    </td>
                    <td colspan="2" style=" border-right: 7px solid black;">

                    </td>
                </tr>
                <tr>
                    <td colspan="8" style="height: 5vh;"></td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Análise Química</td>
                    <td colspan="5" class="text-left" id="emissao" style="padding: 10px;  border-right: 7px solid black;">{{formulario.value.analiseQuimica}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Observação</td>
                    <td colspan="5" class="text-left" id="emissao" style="padding: 10px;  border-right: 7px solid black;">{{formulario.value.obs}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold" style="padding: 10px;">Corrida N°</td>
                    <td colspan="5" class="text-left" id="emissao" style="padding: 10px;  border-right: 7px solid black;">{{formulario.value.corrida}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold" style="padding: 10px;">Liberado C.Q</td>
                    <td colspan="2" class="text-left" id="emissao" style="padding: 10px;">{{formulario.value.LiberadoCQ}}</td>
                    <td class="font-weight-bold">Conferido C.Q</td>
                    <td colspan="2" class="text-left" id="emissao" style="padding: 10px;  border-right: 7px solid black;">{{formulario.value.ConferidoCQ}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel">
    <!-- <div> -->
    <div class="modal-dialog modal-xl">
        <div id="tabela_ingles" class="modal-content">
            <table border="1" class="text-center" style="font-weight: 700; border: 7px solid black;">
                <tr>
                    <td colspan="1" style="line-height: 1.1;padding: 15px 40px; border-right-color:transparent; ">
                        <span class="font-weight-bold" style="font-size: 30px;">
                            <img src="./../../assets/logo-final-06.png" alt="" srcset="" width="113" style="margin-bottom: 6px;">
                        </span>
                        <span style="font-size: 10px; font-weight: 1px;">
                            <BR>CNPJ 11.275.029/0001-00
                        </span>
                    </td>
                    <td colspan="4" class="font-weight-bold" style="font-size: 25px;padding: 1px 84px; border-right: transparent;">
                        QUALITY GUARANTEE
                    </td>
                    <td colspan="1" class="font-weight-bold" style="padding: 15px 40px; border-right: 7px solid black; border-left-color: transparent; font-size: 25px; ">
                        CERTIFICATE Nº <br><span>{{formulario.value.certificado}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Emission</td>
                    <td colspan="5" class="text-left" id="emissao" style="padding: 10px;  border-right: 7px solid black;">{{formulario.value.emissao}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Client</td>
                    <td colspan="5" class="text-left" id="cliente" *ngIf="formulario.value.Clientes !== null" style="padding: 10px;  border-right: 7px solid black;">
                        {{formulario.value.Clientes[0].nome}}
                    </td>
                </tr>
                <!-- <tr>
                    <td class="font-weight-bold">CNPJ</td>
                    <td colspan="5" class="text-left" id="cnpj" *ngIf="formulario.value.Clientes !== null" style="padding: 10px;  border-right: 7px solid black;">
                        {{formulario.value.Clientes[0].cnpj}}
                    </td>
                </tr> -->
                <tr>
                    <td colspan="8" style="height: 5vh;"></td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Product</td>
                    <td colspan="5" class="text-left" id="cnpj" style="padding: 10px;  border-right: 7px solid black;">{{formulario.value.produto}}</td>
                </tr>
                <tr>
                    <td colspan="1" class="font-weight-bold" style="padding: 10px;">Invoice</td>
                    <td colspan="1" class="text-left" id="cnpj" style="padding: 10px;">{{formulario.value.notaFiscal}}</td>
                    <td colspan="1" class="font-weight-bold">Drawing</td>
                    <td colspan="1" class="text-left" id="cnpj" style="padding: 10px;"></td>
                    <td colspan="1" class="font-weight-bold">O.P</td>
                    <td colspan="1" class="text-left" id="cnpj" style="padding: 10px;  border-right: 7px solid black;">{{formulario.value.op}}</td>
                </tr>
                <tr>
                    <td colspan="1" class="font-weight-bold">Alloy</td>
                    <td colspan="1" class="text-left" id="cnpj" style="padding: 10px;">{{formulario.value.liga}}</td>
                    <td colspan="1" class="font-weight-bold">Hardness/Traction</td>
                    <td colspan="3" class="text-left" id="cnpj" style="padding: 10px;  border-right: 7px solid black;">{{formulario.value.durezaTracao}}</td>
                </tr>
                <tr>
                    <td colspan="8" style="height: 5vh;"></td>
                </tr>
                <tr>
                    <td colspan="3" class="font-weight-bold" style="padding: 10px;">Denomination</td>
                    <td colspan="1" class="font-weight-bold">Measures Found</td>
                    <td colspan="2" class="font-weight-bold" style=" border-right: 7px solid black;">Comments</td>
                </tr>
                <span id="node_ingles"></span>
                <tr>
                    <td colspan="3" style="padding: 10px;">
                        PURCHASE ORDER
                    </td>
                    <td colspan="1" class="font-weight-bold">
                        {{formulario.value.ordemCompra}}
                    </td>
                    <td colspan="2" style=" border-right: 7px solid black;">
                        
                    </td>
                </tr>
                <tr>
                    <td colspan="8" style="height: 5vh;"></td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Chemical Analysis</td>
                    <td colspan="5" class="text-left" id="emissao" style="padding: 10px;  border-right: 7px solid black;">{{formulario.value.analiseQuimicaIngles}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Note</td>
                    <td colspan="5" class="text-left" id="emissao" style="padding: 10px;  border-right: 7px solid black;">{{formulario.value.obsIngles}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold" style="padding: 10px;">Race N°</td>
                    <td colspan="5" class="text-left" id="emissao" style="padding: 10px;  border-right: 7px solid black;">{{formulario.value.corridaIngles}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold" style="padding: 10px;">Release C.Q</td>
                    <td colspan="2" class="text-left" id="emissao" style="padding: 10px;">{{formulario.value.LiberadoCQ}}</td>
                    <td class="font-weight-bold">Confered C.Q</td>
                    <td colspan="2" class="text-left" id="emissao" style="padding: 10px;  border-right: 7px solid black;">{{formulario.value.ConferidoCQ}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>



